$page-width: 1638px;
$page-outer-margin: 54px;
$white: #f9f9fb;
$black: #212121;
$grey: #999999;

$header-height: 345px;
$header-background-color: $black;
$header-content-color: $white;
$header-outer-margin: $page-outer-margin;
$header-content-height: 55px;

$header-button-width: 62px;
$header-button-height: 55px;

$main-content-color: $white;
$main-outer-margin: $page-outer-margin;

$promoblock-top-margin: -290px;

$input-width: 388px;
$input-height: 6px;
$submit-height: 48px;
$submit-width: 279px;
$input-background-color: $white;
$input-border-color: $black;

$post-icon-color: $white;
$post-icon-height: 35px;
$post-icon-width: 40px;

$post-span-color: $grey;
$post-header-color: $black;
$post-button-border: $black;
$post-link-color: $white;
$post-footer-font-color: $black;


$footer-height: 412px;
$footer-background-color: $black;
$footer-font-color: $white;
$footer-outer-margin: $page-outer-margin;
